@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --font-FILL: 0; /* 0 | 1 */
  --font-wght: 300; /* 100-700 */
  --font-GRAD: 0; /* -25 for light on dark */
  --font-opsz: 24; /* 20 | 24 | 40 | 48 */
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" var(--font-FILL),
    "wght" var(--font-wght),
    "GRAD" var(--font-GRAD),
    "opsz" var(--font-opsz);
}
